<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/admin-lte/adminlte.min.css" rel="stylesheet"/>
    <link href="~/lib/fontawesome/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/highcontrast.css"/>
    @await RenderSectionAsync("styles", false).ConfigureAwait(false)
</head>

<body class="layout-top-nav">
<div class="wrapper">
    <partial name="_Navigation"/>

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h5 class="m-0 text-dark">@ViewData["Title"]</h5>
                    </div>
                    <div class="col-sm-6">
                        @await RenderSectionAsync("filters", false).ConfigureAwait(false)
                    </div>
                </div>
            </div>
        </div>

        <div class="content" style="background-color: black">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <partial name="_ControlSidebar"/>

    <footer class="main-footer">
        <strong>Copyright © @DateTime.Now.Year All rights reserved. </strong>
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.1
        </div>
    </footer>

    <div id="sidebar-overlay"></div>
</div>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
<script src="~/lib/admin-lte/adminlte.min.js"></script>
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
@await RenderSectionAsync("scripts", false).ConfigureAwait(false)
<ejs-scripts></ejs-scripts>
</body>
</html>