<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/admin-lte/adminlte.min.css" rel="stylesheet"/>
    <link href="~/lib/bootswatch/cyborg/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/fontawesome/all.min.css" rel="stylesheet"/>
    <link href="~/lib/syncfusion/highcontrast.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet"/>
    <link href="~/lib/select2/select2-bootstrap4.min.css" rel="stylesheet"/>
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="~/lib/daterangepicker/daterangepicker.min.css" rel="stylesheet" />
    @await RenderSectionAsync("styles", false).ConfigureAwait(false)
</head>

<body class="layout-top-nav">
    <div class="wrapper">
        <partial name="_Navigation" />

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h5 class="m-0 text-primary">@ViewData["Title"]</h5>
                        </div>
                        <div class="col-sm-6">
                            @await RenderSectionAsync("actionbar", false).ConfigureAwait(false)
                        </div>
                    </div>
                </div>
            </div>

            <div class="content" style="background-color: black">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>

        <partial name="_ControlSidebar" />

        <footer class="main-footer">
            <strong>@DateTime.Now.ToLongDateString()</strong>
            <div class="float-right d-none d-sm-inline-block">
                <b>Versión</b> 0.8
            </div>
        </footer>

        <div id="sidebar-overlay"></div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/admin-lte/adminlte.min.js"></script>
    <script src="~/lib/syncfusion/ej2.min.js"></script>
    <script src="~/lib/syncfusion/locale-es-MX.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/daterangepicker/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.min.js"></script>
    @await RenderSectionAsync("scripts", false).ConfigureAwait(false)
    <ejs-scripts></ejs-scripts>
</body>
</html>