<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/highcontrast.css"/>
    @await RenderSectionAsync("styles", required: false).ConfigureAwait(false)
</head>
<body class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#">CashFlow.io</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Raw Transactions
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="RawTransaction" asp-action="Grid">
                        <i class="fas fa-table"></i> Query
                    </a>
                    <a class="dropdown-item" asp-controller="RawTransaction" asp-action="Pivot">
                        <i class="fas fa-file-excel"></i> Reporting
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item">
                        <i class="fas fa-users"></i> Avatars
                    </a>
                    <a class="dropdown-item" asp-action="Index" asp-controller="ExchangeRate">
                        <i class="fas fa-money-bill"></i> Exchange Rate
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

@RenderBody()

<hr/>
<footer>
    <p>&copy; @DateTime.Now.Year - Cashflowio</p>
</footer>

<script src="~/lib/jquery/jquery.slim.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
<script src="https://kit.fontawesome.com/b0fe0ad941.js" crossorigin="anonymous"></script>

@await RenderSectionAsync("scripts", required: false).ConfigureAwait(false)
<ejs-scripts></ejs-scripts>
</body>
</html>