<nav class="main-header navbar navbar-expand">
    <a asp-action="Index" asp-controller="Dashboard" class="navbar-brand">
        <span class="brand-text font-weight-bolder">
            <i class="fas fa-coins"></i> CashFlow.io
        </span>
    </a>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-table"></i> Query
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Income" asp-controller="Query">
                    <i class="fas fa-arrow-circle-down"></i> Income
                </a>
                <a class="dropdown-item" asp-action="Transfer" asp-controller="Query">
                    <i class="fas fa-arrow-circle-right"></i> Transfers
                </a>
                <a class="dropdown-item" asp-action="Expense" asp-controller="Query">
                    <i class="fas fa-money-check"></i> Expenses
                </a>
                <a class="dropdown-item" asp-action="Credit" asp-controller="Query">
                    <i class="fas fa-credit-card"></i> Credit
                </a>
                <a class="dropdown-item" asp-action="Payment" asp-controller="Query">
                    <i class="fas fa-cash-register"></i> Payment
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-database"></i> Reports
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Calendar" asp-controller="Reports">
                    <i class="fas fa-calendar"></i> Calendar
                </a>
                <a class="dropdown-item" asp-action="Pivot" asp-controller="Reports">
                    <i class="fas fa-database"></i> Pivot
                </a>
            </div>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>