@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}

<div class="row">
    <div class="col-md-6">
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
        </ul>
        <ul>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>About the Author</h2>
        <ul>
            <li><a href="https://ardalis.com">Blog - Ardalis.com</a></li>
            <li><a href="https://twitter.com/ardalis">Twitter - @@ardalis</a></li>
            <li><a href="https://github.com/ardalis">GitHub</a></li>
        </ul>
    </div>
</div>
